*/1 * * * *  source ~/env3/bin/activate && cd ~/trondata && python -m crontab.fetch_block >> ~/trondata/logs/fetch_block.txt 2>&1
0 9 * * *  source ~/env3/bin/activate && cd ~/trondata &&  export USE_CONFIG=prod && python -m crontab.witness_schedule >> ~/trondata/logs/witness_schedule.txt 2>&1
0 10 * * *  source ~/env3/bin/activate && cd ~/trondata &&  export USE_CONFIG=prod && python -m crontab.block_miss >> ~/trondata/logs/block_miss.txt 2>&1
